In [255]:
import pandas as pd
import numpy as np

In [256]:
properties = pd.read_csv('csv_files/properties.csv')
properties.head()

/snap/jupyter/6/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (4,6,8,9,11,12,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [257]:
properties.shape

(75876, 22)

In [258]:
properties.columns

Index(['source ', 'hyperlink ', 'locality', 'postcode', 'house_is ',
       'property_subtype ', 'price', 'sale', 'rooms_number ', 'area ',
       'kitchen_has ', 'furnished ', 'open_fire ', 'terrace ', 'terrace_area',
       'garden ', 'garden_area', 'land_surface', 'land_plot_surface ',
       'facades_number ', 'swimming_pool_has ', 'building_state '],
      dtype='object')

In [259]:
properties.columns = ['source', 'hyperlink', 'locality', 'postcode', 'house_is',
       'property_subtype', 'price', 'sale', 'rooms_number', 'area',
       'kitchen_has', 'furnished', 'open_fire', 'terrace', 'terrace_area',
       'garden', 'garden_area', 'land_surface', 'land_plot_surface',
       'facades_number', 'swimming_pool_has', 'building_state']

In [260]:
pd.options.display.max_rows = 4000

## properties.room_number

In [261]:
# replace None to np.nan
properties.rooms_number.fillna(value=np.nan, inplace=True)
properties.rooms_number[properties.rooms_number==None]

Series([], Name: rooms_number, dtype: object)

In [262]:
# replace 'None' to np.nan
properties.rooms_number = properties.rooms_number.apply(lambda x : np.nan if x=='None' else x)
properties.rooms_number[properties.rooms_number=='None']

Series([], Name: rooms_number, dtype: object)

In [263]:
# change data type of rooms_number from object to float64
properties.rooms_number = properties.rooms_number.astype('float64')

## properties.area

In [264]:
# replace 'm2' from value of area
properties.area = properties.area.replace(r'\w|\W|\s', '', regex=True)

In [265]:
# replace 'm2' from value of area
properties.area = properties.area.replace(r'', np.nan, regex=True)

In [266]:
# replace None to np.nan
properties.area.fillna(value=np.nan, inplace=True)
properties.area[properties.area==None]

Series([], Name: area, dtype: float64)

In [267]:
# replace 'None' to np.nan
properties.area = properties.area.apply(lambda x : np.nan if x=='None' else x)
properties.area[properties.area=='None']

Series([], Name: area, dtype: float64)

In [268]:
# change data type from object to float64
properties.area = properties.area.astype('float64')

## kitchen_has

In [269]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## furnished

In [270]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## open_fire

In [271]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## terrace

In [249]:
# change numerical data to np.nan
properties.terrace = properties.terrace.replace(r'\d\.?\d?', 'np.nan', regex=True)

In [250]:
# replace string False to False
properties.terrace = properties.terrace.replace('False', False)

In [251]:
# change data type from object to bool
properties.terrace = properties.terrace.astype('bool')

In [252]:
properties.terrace.value_counts(dropna=False)

True     49047
False    26829
Name: terrace, dtype: int64

## garden

In [228]:
# replace string False to False
properties.garden = properties.garden.replace('False', False)

In [230]:
# change data type from object to bool
properties.garden = properties.garden.astype('bool')

In [231]:
properties.garden.value_counts()

False    49176
True     26700
Name: garden, dtype: int64

## terrace_area

In [172]:
# replace 'None' to np.nan
properties.terrace_area = properties.terrace_area.apply(lambda x : np.nan if x=='None' else x)
properties.terrace_area[properties.terrace_area=='None']

Series([], Name: terrace_area, dtype: object)

In [180]:
properties.terrace_area = properties.terrace_area.replace(True, np.nan)
properties.terrace_area = properties.terrace_area.replace('TRUE', np.nan)

In [182]:
# change data type from object to float64
properties.terrace_area = properties.terrace_area.astype('float64')

In [254]:
properties.garden_area

0        1000
1         977
2           0
3           0
4          60
         ...
75871     NaN
75872     NaN
75873     NaN
75874     NaN
75875     NaN
Name: garden_area, Length: 75876, dtype: object