In [844]:
import pandas as pd
import numpy as np
import re

In [845]:
df = pd.read_csv('../csv_files/properties_correlated.csv', low_memory=False)
df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [846]:
df.shape

(93068, 22)

# Remove leading and trailing spaces from column names

In [847]:
df.columns = [x.strip(' ') for x in df.columns.values]

# Remove leading and trailing spaces of every element

In [848]:
# remove leading and trailing spaces and newline characters from values if they are a string
df = df.applymap(lambda x: x.strip() if type(x)==str else x)

#### 1. PostCode

In [849]:
# 1 Converts postCode into int64

df['postcode'] = df['postcode'].astype('Int64')
df['postcode'].dtypes

Int64Dtype()

#### 2. Price

In [850]:
# 2 Converting price
def grabs_strips(x):
    if type(x) == str:
        # return x.str.extract('(\d*\.?\d*)', expand=False).astype(float)
        return re.match(r'(\d*(,\d{3})*\.?\d*)', x).group()
    return x


df['price'] = df['price'].apply(grabs_strips)

In [851]:
# Conversion into float
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [852]:
df['price'].shape

(93068,)

In [853]:
df.dropna(subset=['price'], inplace=True)
df.shape

(75802, 22)

## 3.house_is

In [854]:
# fonction to Update the most relevant value of proprety_subtype

def updates_house_is(row):
    
    house_sub_type = ['HOUSE','house','VILLA','EXCEPTIONAL_PROPERTY', 'MANSION', 'villa', 'House', 'TOWN_HOUSE'
                      , 'Villa', 'COUNTRY-COTTAGE' ]
    
    app_sub_type = ['APARTEMENT', 'APARTEMENT','apartment','MIXED_USE_BUILDING','Apartment','DUPLEX','PENTHOUSE',
                   'APARTMENT_BLOCK','GROUND_FLOOR', 'duplex', 'ground-floor', 'Loft/Attic', 'APARTMENT_GROUP'
                    , 'Penthouse', 'penthouse', 'flat-studio', 'APARTMENT', 'apartement', 'Apartement']
    
    if row['property_subtype'] in house_sub_type:
        return True
    elif row['property_subtype'] in app_sub_type:
        return False
    return np.nan

# Storing in house_is prop of the df
df['house_is'] = df.apply(updates_house_is, axis=1)
df.house_is = df.house_is.astype('float64')

## 4.Sale

In [855]:
df.sale = df['sale'].replace({
    'Wohnung': "Unknown",
    'Appartement': "Unknown",
    'Apartamento': "Unknown",
    '': "Unknown",
    'None': "Unknown",
    "unknown":"Unknown",
    "Maison":"Unknown",
    "Huis":"Unknown",
    "House":"Unknown"
})

df.sale = df['sale'].fillna('Unknown')

## 5.property_subtype

In [856]:
df.property_subtype = df['property_subtype'].replace({
    'house': "HOUSE",
    'House': "HOUSE",
    'apartment': "APARTMENT",
    '': "Unknown",
    'villa': "VILLA",
    "duplex":"DUPLEX",
    "Huis":"HOUSE",
    "Maison":"HOUSE",
    'penthouse':'PENTHOUSE',
    'flat-studio':'FLAT_STUDIO',
    'ground-floor':'GROUND_FLOOR'
})

df.property_subtype = df['property_subtype'].fillna('Unknown')

## 9.room_number

In [857]:
# replace None to np.nan
df.rooms_number.fillna(value=np.nan, inplace=True)
df.rooms_number[df.rooms_number==None]

Series([], Name: rooms_number, dtype: object)

In [858]:
# replace 'None' to np.nan
df.rooms_number = df.rooms_number.apply(lambda x : np.nan if x=='None' else x)
df.rooms_number[df.rooms_number=='None']

Series([], Name: rooms_number, dtype: object)

In [859]:
df.rooms_number = df.rooms_number.replace('Not specified', np.nan)

In [860]:
# change data type of rooms_number from object to float64
df.rooms_number = df.rooms_number.astype('float64')

## 10.area

In [861]:
# remove 'm2' in value of area
df.area = df.area.replace("[^0-9.-]", "", regex=True)

In [862]:
# replace empty in value of area
df.area = df.area.replace('', np.nan)

In [863]:
# replace None to np.nan
df.area.fillna(value=np.nan, inplace=True)

In [864]:
# replace 'None' to np.nan
df.area = df.area.apply(lambda x : np.nan if x=='None' else x)

In [865]:
# change data type from object to float64
df.area = df.area.astype('float64')

In [866]:
# replace zero in value of area
df.area = df.area.replace(0, np.nan)

## 11.kitchen_has

In [867]:
df.kitchen_has.value_counts(dropna=False)

True     53991
False    15764
NaN       6047
Name: kitchen_has, dtype: int64

In [868]:
# change data type from object to float64
df.kitchen_has = df.kitchen_has.astype('float64')

In [869]:
df.kitchen_has.value_counts(dropna=False)

1.0    53991
0.0    15764
NaN     6047
Name: kitchen_has, dtype: int64

## 12.furnished

In [870]:
# change data type from object to float64
df.furnished = df.furnished.astype('float64')

## 13.open_fire

In [871]:
# change data type from object to float64
df.open_fire = df.open_fire.astype('float64')

## 14.terrace

In [872]:
# change numerical data to np.nan
df.terrace = df.terrace.replace(r'\d\.?\d?', True, regex=True)

In [873]:
# replace string False to False
df.terrace = df.terrace.replace('False', False)

In [874]:
# replace string False to False
df.terrace = df.terrace.replace('TRUE', True)

In [875]:
# replace string False to False
df.terrace = df.terrace.replace('True', True)

In [876]:
# change data type from object to bool
df.terrace = df.terrace.astype('float64')

In [877]:
df.terrace.value_counts(dropna=False)

1.0    34219
0.0    25809
NaN    15774
Name: terrace, dtype: int64

## 15.terrace_area

In [878]:
# replace 'None' to np.nan
df.terrace_area = df.terrace_area.apply(lambda x : np.nan if x=='None' else x)
df.terrace_area[df.terrace_area=='None']

Series([], Name: terrace_area, dtype: object)

In [879]:
df.terrace_area = df.terrace_area.replace(True, np.nan)
df.terrace_area = df.terrace_area.replace('TRUE', np.nan)

In [880]:
# change data type from object to float64
df.terrace_area = df.terrace_area.astype('float64')

# replace zero in value of area
df.terrace_area = df.terrace_area.replace(0, np.nan)

# replace '1' in value of area
df.terrace_area = df.terrace_area.replace(1, np.nan)

## 16.Garden

In [881]:
# replace string False to False
df.garden = df.garden.replace('False', False)

In [882]:
# replace string False to False
df.garden = df.garden.replace('True', True)

In [883]:
# change data type from object to bool
df.garden = df.garden.astype('float64')

In [884]:
df.garden = df.garden.apply(lambda x:1 if x>1 else x)

## 17.Garden Area

In [885]:
# replace None to np.nan
df.garden_area.fillna(value=np.NaN, inplace=True)
df.garden_area[df.garden_area==None]

# replace 'None' to np.nan
df.garden_area = df.garden_area.apply(lambda x : np.nan if x=='None' else x)
df.garden_area[df.garden_area=='None']

# change data type of rooms_number from object to float64
df.garden_area = df.garden_area.astype('float64')

# replace zero in value of area
df.garden_area = df.garden_area.replace(0, np.nan)

# replace '1' in value of area
df.garden_area = df.garden_area.replace(1, np.nan)

## 18.land_surface

In [886]:
# replace None to np.nan
df.land_surface.fillna(value=np.NaN, inplace=True)

# replace np.nan TO 0
df.land_surface = df.land_surface.replace(np.nan, 0)

# replace None to np.nan
df.land_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_surface = df.land_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_surface = df.land_surface.astype('float64')

# replace zero in value of area
df.land_surface = df.land_surface.replace(0, np.nan)

# replace '1' in value of area
df.land_surface = df.land_surface.replace(1, np.nan)

In [887]:
df.land_surface.value_counts()

100.0      280
150.0      268
200.0      220
300.0      217
120.0      215
          ...
1674.0       1
1401.0       1
7098.0       1
80978.0      1
5291.0       1
Name: land_surface, Length: 2166, dtype: int64

## 19.land_plot_surface

In [888]:
# replace 'yes' from value to 0
df.land_plot_surface = df.land_plot_surface.replace("[^0-9.-]", "", regex=True)

# replace 'm2' from value of area
df.land_plot_surface = df.land_plot_surface.replace('', np.nan)

# replace None to np.nan
df.land_plot_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_plot_surface = df.land_plot_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_plot_surface = df.land_plot_surface.astype('float64')

# replace zero in value of area
df.land_plot_surface = df.land_plot_surface.replace(0, np.nan)

# replace '1' in value of area
df.land_plot_surface = df.land_plot_surface.replace(1, np.nan)

## 20.facades_number

In [889]:
# replace 'None' to np.nan
df.facades_number = df.facades_number.apply(lambda x : np.nan if x=='None' else x)
df.facades_number[df.facades_number=='None']

# change data type of facades_number from object to float64
df.facades_number = df.facades_number.astype('float64')

## 21.swimming_pool_has

In [890]:
 #change numerical data to np.nan
df.swimming_pool_has = df.swimming_pool_has.replace(r'\d\.?\d?', np.nan, regex=True)

# replace string 'False' to False
df.swimming_pool_has = df.swimming_pool_has.replace('False', False)

# replace string 'FALSE' to False
df.swimming_pool_has = df.swimming_pool_has.replace('FALSE', False)

# replace string 'True' to True
df.swimming_pool_has = df.swimming_pool_has.replace('True', True)

# replace string 'TRUE' to True
df.swimming_pool_has = df.swimming_pool_has.replace('TRUE', True)

# change data type from object to bool
df.swimming_pool_has = df.swimming_pool_has.astype('float64')

df.swimming_pool_has.value_counts(dropna=False)

0.0    59365
NaN    14475
1.0     1962
Name: swimming_pool_has, dtype: int64

## 22.building_state

In [891]:
# change numerical data to np.nan
df.building_state = df.building_state.replace(r'\d\.?\d?', np.nan, regex=True)
df.building_state = df.building_state.apply(lambda x : np.nan if x=='None' else x)
df.building_state = df['building_state'].replace({
    'Good':"GOOD",
    'As new':"AS_NEW",
    'To renovate':"TO_RENOVATE",
    'To restore':"TO_RESTORE",
    '':np.nan,
    'To be done up':"TO_BE_DONE_UP",
    "Just renovated":"JUST_RENOVATED",
    'Not specified':np.nan
})

# Check if there are columns with mixed data types ==> NO

In [892]:
from pandas.api.types import infer_dtype
# print data type of each column to check if there are
# any mixed ones, turns out that there are none
def is_mixed(col):
    return infer_dtype(col)

df.apply(is_mixed)

# ==> there are no columns with 'mixed' part of the inferred datatype

source                integer
hyperlink              string
locality               string
postcode              integer
house_is             floating
property_subtype       string
price                floating
sale                   string
rooms_number         floating
area                 floating
kitchen_has          floating
furnished            floating
open_fire            floating
terrace              floating
terrace_area         floating
garden               floating
garden_area          floating
land_surface         floating
land_plot_surface    floating
facades_number       floating
swimming_pool_has    floating
building_state         string
dtype: object

## Find which kind of empties there are ==> there are only NaNs

In [893]:
# are there any empty strings? ==> no
#print(np.where(df.applymap(lambda x: x == '')))

# are there any NaNs? ==> yes
np.where(pd.isnull(df))

(array([    1,     2,     2, ..., 75801, 75801, 75801]),
 array([14, 14, 16, ..., 18, 20, 21]))

# Display the percent of NaNs per column

In [894]:
# display the percent of NaNs per column
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'%_missing': percent_missing})
missing_value_df = missing_value_df.sort_values('%_missing', ascending = False)
missing_value_df

                   %_missing
garden_area        86.045223
terrace_area       70.008707
land_surface       67.032532
building_state     42.791747
land_plot_surface  37.830136
hyperlink          22.172238
terrace            20.809477
swimming_pool_has  19.095802
furnished          15.605129
house_is           14.142107
facades_number     13.552413
area               11.379647
garden              9.779425
kitchen_has         7.977362
open_fire           7.284768
postcode            4.019683
rooms_number        0.340360
locality            0.002638
sale                0.000000
price               0.000000
property_subtype    0.000000
source              0.000000

### Put 'unknown' in place of NaN for everything else than int64 and float64 columns
### Please run this after converting numerical columns like price and facades from string to integer.
#### Even a value of NaN might help predict the price, so to avoid the correlation algorithm skipping it?, and because NaN is not allowed, we replace it.

In [895]:
# replace all NaNs in strings with 'unknown'
df_nanfilled = df.select_dtypes(exclude=['int64','float64']).replace(np.nan, 'unknown')
df.update(df_nanfilled)

# replace all 'None'/'none' strings with uknown
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('none', 'unknown')
df.update(df_nonefilled)
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('None', 'unknown')
df.update(df_nonefilled)

In [896]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75802 entries, 0 to 93067
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source             75802 non-null  int64
 1   hyperlink          75802 non-null  object
 2   locality           75802 non-null  object
 3   postcode           72755 non-null  Int64
 4   house_is           65082 non-null  float64
 5   property_subtype   75802 non-null  object
 6   price              75802 non-null  float64
 7   sale               75802 non-null  object
 8   rooms_number       75544 non-null  float64
 9   area               67176 non-null  float64
 10  kitchen_has        69755 non-null  float64
 11  furnished          63973 non-null  float64
 12  open_fire          70280 non-null  float64
 13  terrace            60028 non-null  float64
 14  terrace_area       22734 non-null  float64
 15  garden             68389 non-null  float64
 16  garden_area        10578 non-null  float64
 17  land_surface       24990 non-null  float64
 18  land_plot_surface  47126 non-null  float64
 19  facades_number     65529 non-null  float64
 20  swimming_pool_has  61327 non-null  float64
 21  building_state     75802 non-null  object
dtypes: Int64(1), float64(15), int64(1), object(5)
memory usage: 13.4+ MB

# Remove duplicates
### should execute after fixing columns
### should execute after removing non-property detail or incomplete columns: source and hyperlink

In [897]:
# drop columns 
df.drop(['source', 'hyperlink'], axis = 1, inplace = True)

# drop 100% duplicate rows
lenght_before = len(df)
df.drop_duplicates(ignore_index = True, inplace = True)
dropped = len(df) - lenght_before
print(f'Dropped: {dropped}')

Dropped: -21765

## 6.locality and postcode
### Drop postcode column, because postcode is more completely available in 'locality'
### first we fix 'locality' column to carry just postcode or 'unknown' (stripping sporadic address parts)

In [898]:
df.drop('postcode', axis = 1, inplace = True)

# write a function that returns the cleaned postcode from elements
# containing the address
def clean_locality(locality): 
    # Search for the presence of a 4 digit number (starts with 1-9)
    if re.search('[1-9]\d{3}', locality):
        # get the number
        return re.findall("[1-9]\d{3}", locality)[0]
    else: 
        # if no postcode is inside insert 'unknown' 
        return 'unknown'
          
# Updated locality column
df['locality'] = df['locality'].apply(clean_locality)

## 7.Create a region column

In [899]:
def get_region(locality):
    if locality == 'unknown':
        return 'unknown'
    else:
        if not re.search('[1-9]\d{3}', locality):
            print('Please run this on already cleaned locality column')
            return 'unknown'
        elif int(locality) >= 1000 and int(locality) <=1299:
            return 'Brussels'
        elif int(locality) >= 1300 and int(locality) <=1499:
            return 'Wallonia'
        elif int(locality) >= 4000 and int(locality) <=7999:
            return 'Wallonia'
        else:
            return 'Flanders'
        
df['region'] = df['locality'].apply(get_region)

# Print unique values per column

In [903]:
uniques = pd.DataFrame()
for col in df:
    col_uniques = pd.DataFrame({f'{col}_value': df[f'{col}'].value_counts().index,
                                f'{col}_count': df[f'{col}'].value_counts().values})
    uniques = pd.concat([uniques, col_uniques], axis = 1)

uniques.iloc[0:15, 4:15].head(14)

,property_subtype_value,property_subtype_count,price_value,price_count,sale_value,sale_count,rooms_number_value,rooms_number_count,area_value,area_count,kitchen_has_value
0,HOUSE,19174.0,295000.0,694,Unknown,43616.0,3.0,17567.0,150.0,954.0,1.0
1,APARTMENT,13751.0,249000.0,656,residential_sale,9536.0,2.0,14765.0,120.0,932.0,0.0
2,Unknown,5916.0,199000.0,656,first_session_with_reserve_price,622.0,4.0,8808.0,100.0,891.0,NaN
3,VILLA,3747.0,299000.0,648,Public Sale,172.0,1.0,4387.0,90.0,827.0,NaN
4,APARTMENT_BLOCK,1912.0,275000.0,645,annuity_monthly_amount,73.0,5.0,3843.0,160.0,808.0,NaN
5,MIXED_USE_BUILDING,1711.0,225000.0,628,Notary Sale,13.0,6.0,1759.0,200.0,757.0,NaN
6,DUPLEX,1201.0,395000.0,568,last_session_reached_price_min_overbid,2.0,0.0,935.0,140.0,749.0,NaN
7,PENTHOUSE,1078.0,325000.0,528,final_public_sale,2.0,7.0,669.0,180.0,718.0,NaN
8,GROUND_FLOOR,882.0,195000.0,520,annuity_lump_sum,1.0,8.0,342.0,80.0,713.0,NaN
9,EXCEPTIONAL_PROPERTY,678.0,250000.0,493,NaN,NaN,9.0,194.0,110.0,703.0,NaN
10,FLAT_STUDIO,646.0,349000.0,485,NaN,NaN,10.0,168.0,130.0,670.0,NaN
11,MANSION,597.0,175000.0,478,NaN,NaN,11.0,74.0,85.0,625.0,NaN
12,TOWN_HOUSE,306.0,245000.0,460,NaN,NaN,12.0,71.0,70.0,569.0,NaN
13,COUNTRY_COTTAGE,255.0,165000.0,434,NaN,NaN,15.0,38.0,220.0,558.0,NaN

In [901]:
df.to_csv('../csv_files/cleaned_properties.csv')