In [12]:
import pandas as pd
import numpy as np
import re

In [3]:
properties = pd.read_csv('../csv_files/properties.csv')
properties.head()

/snap/jupyter/6/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (4,6,8,9,11,12,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [4]:
properties.shape

(75876, 22)

In [5]:
properties.columns = ['source', 'hyperlink', 'locality', 'postcode', 'house_is',
       'property_subtype', 'price', 'sale', 'rooms_number', 'area',
       'kitchen_has', 'furnished', 'open_fire', 'terrace', 'terrace_area',
       'garden', 'garden_area', 'land_surface', 'land_plot_surface',
       'facades_number', 'swimming_pool_has', 'building_state']

## Didier

In [7]:
properties['locality'] = properties['locality'].str.strip()
properties['house_is'] = properties['house_is'].str.strip()
properties['property_subtype'] = properties['property_subtype'].str.strip()
properties['price'] = properties['price'].str.strip()
properties['sale'] = properties['sale'].str.strip()

#### 1. PostCode

In [9]:
# 1 Converts postCode into int64

properties['postcode'] = properties['postcode'].astype('Int64')
properties['postcode'].dtypes

Int64Dtype()

#### 2. Price

In [13]:
# 2 Converting price
def grabs_strips(x):
    if type(x) == str:
        # return x.str.extract('(\d*\.?\d*)', expand=False).astype(float)
        return re.match(r'\d*\.?\d*',x).group()
    return x


properties['price'] = properties['price'].apply(grabs_strips)

In [15]:
# Conversion into float
properties['price'] = pd.to_numeric(properties['price'], errors='coerce')

In [16]:
properties['price'].shape

(75876,)

In [23]:
properties.dropna(subset=['price'], inplace=True)
properties.shape

(64142, 22)

#### 3.Sale

In [ ]:
loc_to_sales_df['sale'].replace({
    'Wohnung': "Apartment",
    'Appartement': "Apartment",
    'Apartamento': "Apartment",
    '': "Unknown",
    'None': "Unknown",
})

loc_to_sales_df['sale'].fillna('Unknown')
# loc_to_sales_df

## 9.properties.room_number

In [24]:
# replace None to np.nan
properties.rooms_number.fillna(value=np.nan, inplace=True)
properties.rooms_number[properties.rooms_number==None]

Series([], Name: rooms_number, dtype: object)

In [ ]:
# replace 'None' to np.nan
properties.rooms_number = properties.rooms_number.apply(lambda x : np.nan if x=='None' else x)
properties.rooms_number[properties.rooms_number=='None']

In [ ]:
# change data type of rooms_number from object to float64
properties.rooms_number = properties.rooms_number.astype('float64')

## 10.properties.area

In [25]:
# replace 'm2' from value of area
properties.area = properties.area.replace(r'\w|\W|\s', '', regex=True)

In [26]:
# replace 'm2' from value of area
properties.area = properties.area.replace('', np.nan)

In [27]:
# replace None to np.nan
properties.area.fillna(value=np.nan, inplace=True)
properties.area[properties.area==None]

Series([], Name: area, dtype: float64)

In [28]:
# replace 'None' to np.nan
properties.area = properties.area.apply(lambda x : np.nan if x=='None' else x)
properties.area[properties.area=='None']

Series([], Name: area, dtype: float64)

In [29]:
# change data type from object to float64
properties.area = properties.area.astype('float64')

## 11.kitchen_has

In [30]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## 12.furnished

In [31]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## 13.open_fire

In [33]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## 14.terrace

In [34]:
# change numerical data to np.nan
properties.terrace = properties.terrace.replace(r'\d\.?\d?', 'np.nan', regex=True)

In [35]:
# replace string False to False
properties.terrace = properties.terrace.replace('False', False)

In [36]:
# change data type from object to bool
properties.terrace = properties.terrace.astype('bool')

In [37]:
properties.terrace.value_counts(dropna=False)

True     38333
False    25809
Name: terrace, dtype: int64

## 15.terrace_area

In [38]:
# replace 'None' to np.nan
properties.terrace_area = properties.terrace_area.apply(lambda x : np.nan if x=='None' else x)
properties.terrace_area[properties.terrace_area=='None']

Series([], Name: terrace_area, dtype: object)

In [39]:
properties.terrace_area = properties.terrace_area.replace(True, np.nan)
properties.terrace_area = properties.terrace_area.replace('TRUE', np.nan)

In [40]:
# change data type from object to float64
properties.terrace_area = properties.terrace_area.astype('float64')

# 16.Garden

In [42]:
# replace string False to False
properties.garden = properties.garden.replace('False', False)

In [44]:
# change data type from object to bool
properties.garden = properties.garden.astype('bool')
properties.garden.value_counts()

False    48112
True     16030
Name: garden, dtype: int64

## 17.Garden Area

In [48]:
# replace None to np.nan
properties.garden_area.fillna(value=np.NaN, inplace=True)
properties.garden_area[properties.garden_area==None]

# replace 'None' to np.nan
properties.garden_area = properties.garden_area.apply(lambda x : np.nan if x=='None' else x)
properties.garden_area[properties.garden_area=='None']

# change data type of rooms_number from object to float64
properties.garden_area = properties.garden_area.astype('float64')

## 18.land_surface

In [49]:
# replace np.nan TO 0
properties.land_surface = properties.land_surface.replace(np.nan,0, regex=True)

# replace None to np.nan

properties.land_surface.fillna(value=np.nan, inplace=True)
properties.land_surface[properties.land_surface=='None']


# replace 'None' to np.nan
properties.land_surface = properties.land_surface.apply(lambda x : np.nan if x=='None' else x)
properties.land_surface[properties.land_surface=='None']

Series([], Name: land_surface, dtype: object)

## 19.land_plot_surface

In [50]:
# replace np.nan TO 0
properties.land_plot_surface = properties.land_plot_surface.replace(np.nan,0, regex=True)

# replace 'yes' from value to 0
properties.land_plot_surface = properties.land_plot_surface.replace(r'\w|\W|\s', '', regex=True)

# replace None to np.nan

properties.land_plot_surface.fillna(value=np.nan, inplace=True)
properties.land_plot_surface[properties.land_surface=='None']


# replace 'None' to np.nan
properties.land_plot_surface = properties.land_plot_surface.apply(lambda x : np.nan if x=='None' else x)
properties.land_plot_surface[properties.land_plot_surface=='None']

Series([], Name: land_plot_surface, dtype: object)

## 20.facades_number

In [52]:
# replace 'None' to np.nan
properties.facades_number = properties.facades_number.apply(lambda x : np.nan if x=='None' else x)
properties.facades_number[properties.facades_number=='None']

# change data type of facades_number from object to float64
properties.facades_number = properties.facades_number.astype('float64')

## 21.swimming_pool_has

In [53]:
 #change numerical data to np.nan
properties.swimming_pool_has = properties.swimming_pool_has.replace(r'\d\.?\d?', 'np.nan', regex=True)

# replace string False to False
properties.swimming_pool_has = properties.swimming_pool_has.replace('False', False)

# change data type from object to bool
properties.swimming_pool_has = properties.swimming_pool_has.astype('bool')

properties.swimming_pool_has.value_counts(dropna=False)

False    59007
True      5135
Name: swimming_pool_has, dtype: int64

## 22.building_state

In [54]:
# change numerical data to np.nan
properties.building_state = properties.building_state.replace(r'\d\.?\d?', 'np.nan', regex=True)

properties.building_state.unique()

array(['GOOD', 'AS_NEW', 'TO_RENOVATE', 'JUST_RENOVATED', 'TO_BE_DONE_UP',
       'TO_RESTORE', nan, 'Not specified', 'None', 'New', 'old'],
      dtype=object)